.desktop-16,
.desktop-16 * {
  box-sizing: border-box;
  font-family: "SamimFd-Bold", sans-serif;
  text-align: left;
  direction: ltr;
  }
.desktop-16 {
  background: #ffffff;
  height: 81.0625rem;
  position: relative;
  overflow: hidden;
}
.frame-8 {
  width: 6.25rem;
  height: 5.625rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3.125rem;
  overflow: hidden;
}
.image-2 {
  width: 6.25rem;
  height: 5.625rem;
  position: absolute;
  left: 0rem;
  top: 50%;
  translate: 0 -50%;
  object-fit: cover;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.ellipse-4 {
  background: #183269;
  border-radius: 50%;
  width: 6.375rem;
  height: 6.375rem;
  position: absolute;
  left: 3.625rem;
  top: 2.375rem;
}
.rectangle-31 {
  background: #e4eff7;
  border-radius: 3.1875rem;
  width: 15.9375rem;
  height: 6.375rem;
  position: absolute;
  left: 3.625rem;
  top: 2.375rem;
  box-shadow: inset 0rem 0rem 0.85625rem 0rem rgba(0, 0, 0, 0.15);
}
.mask-group {
  width: 5.935625rem;
  height: 5.935625rem;
  position: absolute;
  left: 3.845rem;
  top: 2.595rem;
  overflow: visible;
}
.group-9 {
  height: auto;
  position: absolute;
  left: 8.1875rem;
  top: 6.875rem;
  overflow: visible;
}
.div {
  color: #465bb8;
  text-align: center;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 11.125rem;
  top: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-1 {
  width: 4.9375rem;
  height: 4.9375rem;
  position: absolute;
  left: 80.875rem;
  top: 3.125rem;
  overflow: visible;
}
.rectangle-5 {
  background: #e4eff7;
  border-radius: 3.1875rem;
  width: 38.875rem;
  height: 6.375rem;
  position: absolute;
  left: 25.5625rem;
  top: 10.75rem;
  box-shadow: inset 0rem 0rem 0.85625rem 0rem rgba(0, 0, 0, 0.15);
}
.group-43 {
  position: absolute;
  inset: 0;
}
.ellipse-3 {
  border-radius: 50%;
  border-style: solid;
  border-color: #f79742;
  border-width: 0.125rem;
  width: 5.75rem;
  height: 5.75rem;
  position: absolute;
  left: 58.3625rem;
  top: 11.0625rem;
}
.group-3 {
  width: 5.75rem;
  height: 5.75rem;
  position: static;
}
.ellipse-32 {
  border-radius: 50%;
  border-style: solid;
  border-color: #f79742;
  border-width: 0.125rem;
  width: 5.75rem;
  height: 5.75rem;
  position: absolute;
  left: 51.75rem;
  top: 11.0625rem;
}
.mask-group2 {
  width: 5.175rem;
  height: 5.175rem;
  position: absolute;
  left: 52.0375rem;
  top: 11.35rem;
  overflow: visible;
}
.group-4 {
  width: 5.75rem;
  height: 5.75rem;
  position: static;
}
.ellipse-33 {
  border-radius: 50%;
  border-style: solid;
  border-color: #f79742;
  border-width: 0.125rem;
  width: 5.75rem;
  height: 5.75rem;
  position: absolute;
  left: 45.1375rem;
  top: 11.0625rem;
}
.mask-group3 {
  width: 5.175rem;
  height: 5.175rem;
  position: absolute;
  left: 45.425rem;
  top: 11.35rem;
  overflow: visible;
}
.mask-group4 {
  width: 5.175rem;
  height: 5.175rem;
  position: absolute;
  left: 38.8125rem;
  top: 11.35rem;
  overflow: visible;
}
.mask-group5 {
  width: 5.175rem;
  height: 5.175rem;
  position: absolute;
  left: 32.4875rem;
  top: 11.35rem;
  overflow: visible;
}
.ellipse-34 {
  border-radius: 50%;
  border-style: solid;
  border-color: #f79742;
  border-width: 0.125rem;
  width: 5.75rem;
  height: 5.75rem;
  position: absolute;
  left: 38.525rem;
  top: 11.0625rem;
}
.ellipse-42 {
  border-radius: 50%;
  border-style: solid;
  border-color: #f79742;
  border-width: 0.125rem;
  width: 5.75rem;
  height: 5.75rem;
  position: absolute;
  left: 32.2rem;
  top: 11.0625rem;
}
.group-44 {
  width: 5.75rem;
  height: 5.75rem;
  position: static;
}
.mask-group6 {
  width: 5.175rem;
  height: 5.175rem;
  position: absolute;
  left: 26.1625rem;
  top: 11.35rem;
  overflow: visible;
}
.ellipse-5 {
  border-radius: 50%;
  border-style: solid;
  border-color: #f79742;
  border-width: 0.125rem;
  width: 5.75rem;
  height: 5.75rem;
  position: absolute;
  left: 25.875rem;
  top: 11.0625rem;
}
.mask-group7 {
  width: 5.175rem;
  height: 5.175rem;
  position: absolute;
  left: 58.65rem;
  top: 11.35rem;
  overflow: visible;
}
.group-48 {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: #e4eff7;
  border-radius: 1.6875rem;
  width: 81.75rem;
  height: 23.5625rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 22.4375rem;
  box-shadow: inset 0rem 0rem 0.85625rem 0rem rgba(0, 0, 0, 0.25);
}
.div2 {
  color: #142647;
  text-align: right;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -21.8125rem);
  top: 18.5rem;
  width: 17.4375rem;
  height: 3.3125rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.frame-48 {
  width: 81.5625rem;
  height: 20.5rem;
  position: absolute;
  right: 4.25rem;
  top: 23.9375rem;
  overflow: hidden;
}
.group-45 {
  position: absolute;
  inset: 0;
}
.rectangle-8 {
  background: #fbfbfb;
  border-radius: 1.6875rem 0rem 1.6875rem 1.6875rem;
  width: 30.4375rem;
  height: 17.625rem;
  position: absolute;
  left: 49.25rem;
  top: 2.875rem;
  box-shadow: 0rem 0rem 0.625rem 0rem rgba(70, 91, 184, 0.7);
}
.div3 {
  color: #f79742;
  text-align: right;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
  left: 67.0625rem;
  top: 3.5rem;
  width: 6.1875rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ellipse-35 {
  background: #ffffff;
  border-radius: 50%;
  width: 5.8125rem;
  height: 5.8125rem;
  position: absolute;
  left: 73.875rem;
  top: 0rem;
  box-shadow: 0rem 0rem 0.25rem 0rem rgba(70, 91, 184, 0.7);
}
.mask-group8 {
  width: 5.178125rem;
  height: 5.178125rem;
  position: absolute;
  left: 74.191875rem;
  top: 0.316875rem;
  overflow: visible;
}
.div4 {
  color: #142647;
  text-align: center;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  left: 72.5625rem;
  top: 6.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-12 {
  background: #8fa0f8;
  border-radius: 0rem 0rem 1.6875rem 1.6875rem;
  width: 30.4375rem;
  height: 3.25rem;
  position: absolute;
  left: 49.25rem;
  top: 17.25rem;
}
.div5 {
  color: #ffffff;
  text-align: center;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 56.375rem;
  top: 18rem;
  width: 16.1875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div6 {
  color: rgba(20, 38, 71, 0.6);
  text-align: right;
  font-family: "SamimFd-Medium", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  left: 59.875rem;
  top: 11.25rem;
  width: 17.9375rem;
  height: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div7 {
  color: rgba(70, 91, 184, 0.7);
  text-align: right;
  font-family: "SamimFd-Regular", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  position: absolute;
  left: 69.75rem;
  top: 13.625rem;
  width: 8.0625rem;
  height: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.group-46 {
  position: absolute;
  inset: 0;
}
.rectangle-82 {
  background: #fbfbfb;
  border-radius: 1.6875rem 0rem 1.6875rem 1.6875rem;
  width: 30.4375rem;
  height: 17.625rem;
  position: absolute;
  left: 17.3125rem;
  top: 2.875rem;
  box-shadow: 0rem 0rem 0.625rem 0rem rgba(70, 91, 184, 0.7);
}
.div8 {
  color: #f79742;
  text-align: right;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
  left: 33.0625rem;
  top: 3.5rem;
  width: 8.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ellipse-36 {
  background: #ffffff;
  border-radius: 50%;
  width: 5.8125rem;
  height: 5.8125rem;
  position: absolute;
  left: 41.9375rem;
  top: 0rem;
  box-shadow: 0rem 0rem 0.25rem 0rem rgba(70, 91, 184, 0.7);
}
.mask-group9 {
  width: 5.178125rem;
  height: 5.178125rem;
  position: absolute;
  left: 42.254375rem;
  top: 0.316875rem;
  overflow: visible;
}
.div9 {
  color: #142647;
  text-align: center;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  left: 35.9375rem;
  top: 6.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-122 {
  background: #8fa0f8;
  border-radius: 0rem 0rem 1.6875rem 1.6875rem;
  width: 30.4375rem;
  height: 3.25rem;
  position: absolute;
  left: 17.3125rem;
  top: 17.25rem;
}
.div10 {
  color: #ffffff;
  text-align: center;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 24.4375rem;
  top: 18rem;
  width: 16.1875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div11 {
  color: rgba(70, 91, 184, 0.7);
  text-align: right;
  font-family: "SamimFd-Regular", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  position: absolute;
  left: 37.8125rem;
  top: 11.25rem;
  width: 8.0625rem;
  height: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.group-47 {
  position: absolute;
  inset: 0;
}
.rectangle-83 {
  background: #fbfbfb;
  border-radius: 1.6875rem 0rem 1.6875rem 1.6875rem;
  width: 30.4375rem;
  height: 17.625rem;
  position: absolute;
  left: -14.625rem;
  top: 2.875rem;
  box-shadow: 0rem 0rem 0.625rem 0rem rgba(70, 91, 184, 0.7);
}
.div12 {
  color: #f79742;
  text-align: right;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
  left: 3.1875rem;
  top: 3.5rem;
  width: 6.1875rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ellipse-37 {
  background: #ffffff;
  border-radius: 50%;
  width: 5.8125rem;
  height: 5.8125rem;
  position: absolute;
  left: 10rem;
  top: 0rem;
  box-shadow: 0rem 0rem 0.25rem 0rem rgba(70, 91, 184, 0.7);
}
.mask-group10 {
  width: 5.178125rem;
  height: 5.178125rem;
  position: absolute;
  left: 10.316875rem;
  top: 0.316875rem;
  overflow: visible;
}
.div13 {
  color: #142647;
  text-align: center;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  left: 6.8125rem;
  top: 6.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-123 {
  background: #8fa0f8;
  border-radius: 0rem 0rem 1.6875rem 1.6875rem;
  width: 30.4375rem;
  height: 3.25rem;
  position: absolute;
  left: -14.625rem;
  top: 17.25rem;
}
.div14 {
  color: #ffffff;
  text-align: center;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: -7.5rem;
  top: 18rem;
  width: 16.1875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div15 {
  color: rgba(20, 38, 71, 0.6);
  text-align: right;
  font-family: "SamimFd-Medium", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  left: -4rem;
  top: 11.25rem;
  width: 17.9375rem;
  height: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div16 {
  color: rgba(70, 91, 184, 0.7);
  text-align: right;
  font-family: "SamimFd-Regular", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  position: absolute;
  left: 5.875rem;
  top: 13.625rem;
  width: 8.0625rem;
  height: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div17 {
  color: #cd772c;
  text-align: center;
  font-family: "SamimFd-Medium", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 5.375rem;
  top: 19.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-49 {
  position: absolute;
  inset: 0;
}
.rectangle-62 {
  background: #e4eff7;
  border-radius: 1.6875rem;
  width: 81.75rem;
  height: 23.5625rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 51.8125rem;
  box-shadow: inset 0rem 0rem 0.85625rem 0rem rgba(0, 0, 0, 0.25);
}
.div18 {
  color: #142647;
  text-align: right;
  font-family: "SamimFd-Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -21.8125rem);
  top: 47.875rem;
  width: 17.4375rem;
  height: 3.3125rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.frame-482 {
  width: 81.5625rem;
  height: 20.5rem;
  position: absolute;
  right: 4.25rem;
  top: 53.3125rem;
  overflow: hidden;
}
.mask-group11 {
  width: 5.178125rem;
  height: 5.178125rem;
  position: absolute;
  left: 74.191875rem;
  top: 0.316875rem;
  overflow: visible;
}
.mask-group12 {
  width: 5.178125rem;
  height: 5.178125rem;
  position: absolute;
  left: 42.254375rem;
  top: 0.316875rem;
  overflow: visible;
}
.mask-group13 {
  width: 5.178125rem;
  height: 5.178125rem;
  position: absolute;
  left: 10.316875rem;
  top: 0.316875rem;
  overflow: visible;
}
.div19 {
  color: #cd772c;
  text-align: center;
  font-family: "SamimFd-Medium", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  left: 5.375rem;
  top: 48.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
